<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to t("t_h1"), root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to t("Home_title"), root_path %></li>
        <li><%= link_to t("t_h2"), "#" %></li>
      </ul>
    </nav>
  </div>
</header>
